<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookandmovie.Dao.MarkDao">
    <insert id="addMark" parameterType="Mark">
        insert into `marks`(type,target,uid,content,score,day,thumb,reply,title,disag) values(#{type},#{target},#{uid},
            #{content}, #{score},#{day},#{thumb},#{reply},#{title},0)   ;
    </insert>
    <select id="getMark" resultType="Mark">
        select * from marks where type=#{type} and target=#{target};
    </select>
    <update id="replyadd" parameterType="int">
        update marks set reply=reply+1 where id=#{target};
    </update>
    <update id="thumbChange1" >
        update marks set thumb=thumb+1 where id=#{target};

    </update>
    <update id="dischange1" >
        update marks set disag=disag+1 where id=#{target};
    </update>
    <insert id="insertThumb">
        insert into thumb(uid,mid) values (#{uid},#{target});
    </insert>
    <insert id="insertDisag">
        insert into disag(uid,mid) values (#{uid},#{target});
    </insert>
    <delete id="dropThumb">
        delete from thumb where uid=#{uid} and mid=#{target};
    </delete>
    <delete id="dropDisag">
        delete from disag where uid=#{uid} and mid=#{target};
    </delete>
    <update id="thumbChange2" >
        update marks set thumb=thumb-1 where id=#{target};

    </update>
    <update id="dischange2" >
        update marks set disag=disag-1 where id=#{target};

    </update>
    <select id="countMark_book" resultType="int">
        select count(*) from marks where target=#{target} and type=1;
    </select>
    <select id="countMark_movie" resultType="int">
        select count(*) from marks where target=#{target} and type=2;
    </select>
    <select id="culMark_movie">
        update movie set score=#{score} where mid=#{target};
    </select>
    <select id="culMark_book">
        update book set score=#{score} where book_id=#{target};
    </select>
    <select id="isthumb" resultType="Mark">
        select * from marks where id in(
        select mid from thumb where uid=#{uid} and mid=#{id})
    </select>
    <select id="isdis" resultType="Mark">
select * from marks where id in
        (select mid from disag where uid=#{uid} and mid=#{id})
    </select>
    <delete id="deleteMark" parameterType="int">
        delete from marks where id = #{mid};
    </delete>
</mapper>